/*Обнуление*/
*{padding:0;margin:0;border:0;}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}:focus,:active{outline:none;}a:focus,a:active{outline:none;}nav,footer,header,aside{display:block;}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}input,button,textarea{font-family:inherit;}input::-ms-clear{display:none;}button{cursor:pointer;}button::-moz-focus-inner{padding:0;border:0;}a,a:visited{text-decoration:none;}a:hover{text-decoration:none;}ul li{list-style:none;}img{vertical-align:top;}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

@font-face{
    font-family: Akrobat;
    font-display: swap;
    src: url("../fonts/") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: Akrobat;
    font-display: swap;
    src: url("../fonts/") format("woff");
    font-weight: 800;
    font-style: normal;
}

*{
    font-family: Akrobat;
}

.wrapper{
    min-width: 360px;
    max-width: 1922px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.summon-menu{
    margin: 0 30px;
    display: none;
    position: relative;
    z-index: 2;
}

.hearts{
    margin-left: 88px;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.menu{}

.inner-menu{
    display: flex;
    max-width: 643px;
    min-width: 643px;
    justify-content: space-between;
    margin-right: 95px;
}

.red-block{
    height: 120px;
    width: 120px;
    background-color: #ce002c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.red-block a{
  font-weight: 800;
  font-weight: 20px;
  line-height: 25px;
  text-align: center;
  color:white;  
}

/*
.inner-menu li{
    margin-right: 30px;
}
*/

.inner-menu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    color: black;
}

