/*"коробка", "контейнер", "блочный элемент
у нее есть ширина и высота"*/
div{
    color: white;
    font-weight: bold;
    background-color: green;
    border: 2px solid red;
    width: 200px;
    height: 50px;
}

/*"строчный элемент"*/
span{
    color: white;
    font-weight: bold;
    background-color: blue;
    border: 2px solid red;
    width: 200px;
    height: 50px;
}
